/* src/ProgressBar.css */
.progress-container {
    position: relative;
    width: 100%;
    background-color: #f3f3f3;
    border-radius: 5px;
    overflow: hidden;
    height: 30px;
    border: 1px solid #ccc;
  }
  
  .progress-bar {
    height: 100%;
    background-color: #4c99af;
    transition: width 0.5s ease;
  }
  
  .progress-label {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: #131212;
    font-weight: bold;
  }
  